<div class="flip-container">
    <div class="flipper" [ngClass]="{'flipped': flipped==true}">
        <div class="front">


            <div class="panel panel-default analytics">
                <div class="panel-heading">
                    <h4 class="panel-title analytics-title">Threshold</h4>
                </div>
                <div class="panel-body">
                    <table class="analytics-list">
                        <tbody>
                            <tr>
                                <td>Entity</td>
                                <td>
                                    {{threshold.legalEntity}}
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    <span class="label label-success" *ngIf="getStatus() == 'bellow'">Bellow</span>
                                    <span class="label label-warning" *ngIf="getStatus() == 'above'">Above</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Value</td>
                                <td>
                                    <figure [value]="threshold.value" [currency]="'USD'"></figure>
                                </td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td>
                                    {{threshold.rating}}
                                </td>
                            </tr>
                            <tr>
                                <td>Agency</td>
                                <td>
                                    {{threshold.agency}}
                                </td>
                            </tr>
                            <tr>
                                <td>Seniority</td>
                                <td>
                                    {{threshold.seniority}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" (click)="flipCard()">
                            <i class="fa fa-undo"></i>
                        </button>
                </div>
            </div>









        </div>
        <div class="back">








            <div class="panel panel-default analytics">
                <div class="panel-heading">
                    <h4 class="panel-title analytics-title">Threshold (Unapplied)</h4>
                </div>
                <div class="panel-body">
                    <table class="analytics-list">
                        <tbody>
                            <tr>
                                <td>Entity</td>
                                <td>
                                    {{threshold.legalEntity}}
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    <span class="label label-default">Unapplied</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Value</td>
                                <td>
                                    <figure [value]="threshold.value" [currency]="'USD'"></figure>
                                </td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td>
                                    {{threshold.rating}}
                                </td>
                            </tr>
                            <tr>
                                <td>Agency</td>
                                <td>
                                    {{threshold.agency}}
                                </td>
                            </tr>
                            <tr>
                                <td>Seniority</td>
                                <td>
                                    {{threshold.seniority}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" (click)="flipCard()">
                            <i class="fa fa-repeat"></i>
                        </button>
                </div>
            </div>





        </div>
    </div>
</div>